.visually-hidden,
.visually-hidden-focusable {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    transition: none !important;
    white-space: nowrap;
    width: 1px;
}

.visually-hidden-focusable {
    &:focus-visible {
        background-color: var(--asona--color--base);
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        clip: auto;
        color: var(--asona--color--contrast);
        font-family: var(--asona--font-family--elements);
        font-size: var(--asona--font-size--2xs);
        font-weight: var(--asona--font-weight--elements);
        height: auto;
        left: 0;
        outline-offset: -3px;
        padding: var(--asona--space--xs) var(--asona--space--s);
        position: absolute;
        text-decoration: none;
        top: 0;
        width: auto;
        z-index: 100000;
    }
}
