body, .asona-comments-iframe h1, .asona-comments-iframe h2, .asona-comments-iframe h3, .asona-comments-iframe h4, .asona-comments-iframe h5, .asona-comments-iframe h6, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'LDN Kono Medium';
}

.asona-comments-iframe h1, .asona-comments-iframe h2, .asona-comments-iframe h3, .asona-comments-iframe h4, .asona-comments-iframe h5, .asona-comments-iframe h6, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	letter-spacing: normal;
}

.article-sharing .sharing-buttons__list-link {
	font-size: 2.5rem;
}

h1.article-header__title,
.home-template .post-0 h2 {
	font-family: 'LDN Kono ExtraBold';
	font-weight: bold;
	font-style: normal;
}

.article figcaption {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

/* TABLE STYLES */

div.upfront-table.fixed-left table {
  white-space: nowrap;
  margin: 0;
  border: none;
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;
}

div.upfront-table.fixed-left table td,
div.upfront-table.fixed-left table th {
  border: 1px solid black;
  padding: 0.5rem 1rem;
}

div.upfront-table.fixed-left table thead th {
  padding: 3px;
  position: sticky;
  top: 0;
  z-index: 1;
  width: 25vw;
  background: white;
}

div.upfront-table.fixed-left table td {
  background: #fff;
  padding: 4px 5px;
  text-align: center;
}

div.upfront-table.fixed-left table tbody th {
  font-weight: 100;
  font-style: italic;
  text-align: left;
  position: relative;
}

div.upfront-table.fixed-left table thead th:first-child {
  position: sticky;
  left: 0;
  z-index: 2;
}

div.upfront-table.fixed-left  table tbody th {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
}