body, .asona-comments-iframe h1, .asona-comments-iframe h2, .asona-comments-iframe h3, .asona-comments-iframe h4, .asona-comments-iframe h5, .asona-comments-iframe h6, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'LDN Kono Medium';
}

.asona-comments-iframe h1, .asona-comments-iframe h2, .asona-comments-iframe h3, .asona-comments-iframe h4, .asona-comments-iframe h5, .asona-comments-iframe h6, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	letter-spacing: normal;
}

.article-sharing .sharing-buttons__list-link {
	font-size: 2.5rem;
}

h1.article-header__title,
.home-template .post-0 h2 {
	font-family: 'LDN Kono ExtraBold';
	font-weight: bold;
	font-style: normal;
}

.article figcaption {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
}

/* TABLE STYLES */

div.upfront-table th, div.upfront-table .header-row {
	font-weight: bold;	
}

div.upfront-table.fixed-left {
  width: 100%;
  overflow-x: scroll;
  margin-left: 5em;
  overflow-y: visible;
  padding: 0;
}

div.upfront-table.fixed-left th {
  position: absolute;
  width: 5em;
  left: 0;
  top: auto;
  border-top-width: 2px;
  margin-top: -1px;
}

div.upfront-table.fixed-left th:before {
  content: 'Row ';
}