body, .asona-comments-iframe h1, .asona-comments-iframe h2, .asona-comments-iframe h3, .asona-comments-iframe h4, .asona-comments-iframe h5, .asona-comments-iframe h6, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'LDN Kono Medium';
}

.asona-comments-iframe h1, .asona-comments-iframe h2, .asona-comments-iframe h3, .asona-comments-iframe h4, .asona-comments-iframe h5, .asona-comments-iframe h6, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: bold;
	letter-spacing: normal;
}

.article-sharing .sharing-buttons__list-link {
	font-size: 2.5rem;
}

h1.article-header__title,
.home-template .post-0 h2 {
	font-family: 'LDN Kono ExtraBold';
	font-weight: bold;
	font-style: normal;
}