.related-posts {
    &__grid {
        @media (min-width: #{px-to-em(600px)}) {
            --asona--grid--columns: 2;
        }

        @media (min-width: #{px-to-em(1000px)}) {
            --asona--grid--columns: 4;

            .post-card {
                --asona--post-card--font-size--title: #{px-to-rem(19px)};
            }
        }
    }
}
