:root {
    --asona--z-index--below: -1;
    --asona--z-index--default: 1;
    --asona--z-index--foreground: 2;
    --asona--z-index--on-top: 1000;
    --asona--z-index--overlay: 2000;
    --asona--z-index--modal: 5000;
}
