@font-face {
 font-family: 'LDN Kono Medium';
 src: url('LDNKono-Medium.woff2') format('woff2');
 src: url('LDNKono-Medium.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

@font-face {
 font-family: 'LDN Kono Medium';
 src: url('LDNKono-MediumItalic.woff2') format('woff2');
 src: url('LDNKono-MediumItalic.woff') format('woff');
 font-weight: normal;
 font-style: italic;
}


@font-face {
 font-family: 'LDN Kono Medium';
 src: url('LDNKono-Bold.woff2') format('woff2');
 src: url('LDNKono-Bold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'LDN Kono Medium';
 src: url('LDNKono-BoldItalic.woff2') format('woff2');
 src: url('LDNKono-BoldItalic.woff') format('woff');
 font-weight: bold;
 font-style: italic;
}

@font-face {
 font-family: 'LDN Kono ExtraBold';
 src: url('LDNKono-ExtraBold.woff2') format('woff2');
 src: url('LDNKono-ExtraBold.woff') format('woff');
 font-weight: bold;
 font-style: normal;
}

@font-face {
 font-family: 'LDN Kono Hairline';
 src: url('LDNKono-Hairline.woff2') format('woff2');
 src: url('LDNKono-Hairline.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}


@font-face {
 font-family: 'LDN Kono Light';
 src: url('LDNKono-Light.woff2') format('woff2');
 src: url('LDNKono-Light.woff') format('woff');
 font-weight: normal;
 font-style: normal;
}

